<?xml version="1.0"?>
<phpunit verbose="true">
 <filter>
  <whitelist>
   <directory suffix=".php">./Net</directory>
  </whitelist>
 </filter>
 <testsuites>
  <testsuite>
   <directory>tests</directory>
   <file>*Test.php</file>
  </testsuite>
 </testsuites>
 <php>
  <includePath>lib/</includePath>
 </php>
</phpunit>
